.InfoText {
    position: relative;
    width: 540px;
    height: 592px;
    overflow: hidden;
    /* margin: 0px 0px 10px 0px; */

    display: grid;
    grid-template-rows: 1fr 1fr;

    /* transition: 0.8s cubic-bezier(0.2, 0.8, 0.2, 1); */
}

.InfoText:hover {
    /* transform: scale(1.1, 1.1); */
}

.InfoText h3 {
    font-size: 40px;
    font-weight: normal;
    line-height: 47px;
    color: #000000;
}

.InfoText p {
    font-size: 20px;
    font-weight: normal;
    line-height: 23px;
    color: #000000;
}